@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.cdnfonts.com/css/inter');
                
*{

    background-color: rgba(0, 0, 0, 0.968);
    
}

.nav-bar{
    
    padding: auto;
   display: flex;
    margin: 0 auto;
    justify-content:space-between;
    padding-left: 50px;
    padding-right: 50px;
    color:rgba(213, 192, 192, 0.735);
}
.navtext{
    font-size:20px;
    color:rgba(213, 192, 192, 0.735);
    font-style: italic;
    font-family: 'Inter', sans-serif;
    color: red;
                                                
    
}
.btn{
    
    justify-content: center;
    color:rgba(213, 192, 192, 0.735);
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    
}
button:hover{
    background-color: firebrick;
}
.hambrg{
    display:none;
}
.free{
    width:150px;
    height:100px;
    text-align: center;
   
    background-color: #f3e9e95f;
    color:rgb(254, 254, 254);
    border-radius: 10px;
    position: relative;
    bottom: 450px;
    left:400px
    
   

    
}
.video{
    width:150px;
    height:100px;
    text-align: center;
    
    background-color: #fff8f843;
    font-family: 'Inter', sans-serif;
    color:rgba(213, 192, 192, 0.735);
    border-radius: 10px;
    position: relative;
    bottom:300px;
    left:10px

}
.fre{
    font-family: 'Inter', sans-serif;
    background-color: rgba(255, 255, 255, 0);
}
.main-body{
   
    color:rgba(213, 192, 192, 0.735);
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-text{
    
    width:720px;
    height:600px;
    padding-top: 100px;
    background-color: rgb(0, 0, 0);
    color:rgba(213, 192, 192, 0.735);
    justify-content: center;
    margin-left: 20px;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    
                                                
    text-align: center;
}
.shape{
    font-family: miama;
}

.body-img{
    
    width:900px;
    height:700px;
   
   
 
  
  
   

}
.img{
   
    
    height: 700px;
    padding-left: 70px;
    
}
.Btn{
    display: flex;
}
.BTN{
    
    
    justify-content: center;
    background-color: red;
    margin-top: 20px;
    color:rgba(213, 192, 192, 0.735);
    border-radius: 20px;
    width: 200px;
    height: 40px;
   margin-left: 50px;
    

}
.shape{
    font-family: 'Miama', sans-serif;
    color:rgba(213, 192, 192, 0.735);
    height: ;
                                                
}
.middle-body{
    text-align: center;
    margin-left: 120px;
    color:rgba(213, 192, 192, 0.735);
    margin-top: 10px;
    width: 1044px;
    height: 520px;
    
}
.card{
    display:flex;
    color:rgba(213, 192, 192, 0.735);
   
}
.crcl-img{
    
    width: 231px;
    height: 400px;
    margin-left: 20px;
    
}
.cimg{
    border-radius: 100px;
}
.run{
    padding-top: 20px;
    
    width:1000px;
    height: 300px;
    color:rgba(213, 192, 192, 0.735);
    display: flex;
    margin-left: 120px;
}
.run-text{
   
    width:50%;
    height: 300px;
    color:rgba(213, 192, 192, 0.735);
    text-align: center;
    padding-top: 50px;
}
.run-img{
    
    width:50%;
    height: 200px;
    color:rgba(213, 192, 192, 0.735);
}
.run-IMG{
    width:400px;
    height:300px;
    border-radius: 40px;
    color:rgba(213, 192, 192, 0.735);
    margin-left: 50px;
}
.rbtn{

    
    justify-content: center;
    background-color: red;
    margin-top: 20px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    color:rgba(213, 192, 192, 0.735);
    
}
.bmi-text{
    text-align: left;
    margin-top: 20px;
    width:1040px;
    height:200px;
     
   margin-left: 100 px;
   padding-left: 250px;
   padding-top: 70px;
   margin-right: 90px;
   color:rgba(213, 192, 192, 0.735);
}

.calcu{

width: 1340px;
height: 450px;
color:rgba(213, 192, 192, 0.735);
display: flex;

}
.table{
  
     width: 670px;
     color:rgba(213, 192, 192, 0.735);
     height: 300px;
     margin-top: 40px;
}
.input{
   
    width: 670px;
     height: 300px;
     color:rgba(213, 192, 192, 0.735);
     margin-top: 40px;

}
.in{
    display: flex;
}
.in{
    background-color: #333;
    padding:20px;
    border-radius: 10px;
    color:rgba(213, 192, 192, 0.735);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    max-width: 300px;
    width:100%;
    text-align: center;
}
input, select{
    background-color: #444;
    color: #fff;
      border: none;
      padding: 10px;
      color:rgba(213, 192, 192, 0.735);
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 14px;
      width: 250px;
}
#activity-factor{
    width:550px;
}
.table{
    text-align: center;
    padding: 20px;
    color:rgba(213, 192, 192, 0.735);
    border-radius: 8px;
    display: flex;
    
}
td{
    border: 1px solid gray;
    width: 150px;
    color:rgba(213, 192, 192, 0.735);
    padding-left: 30px;
   
    
}
table{
    border-collapse: collapse;
    margin-left: 110px;
}
.benefits{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color:rgba(107, 95, 95, 0.671);
    padding-bottom: 20px;
    background-color: #03020200;
}
.ins-text{
    width:600px;
    height: 150px;
    text-align: center;
    padding-left: 150px;
    color:rgba(213, 192, 192, 0.735);
    margin-left: 230px;
    
}
.meet{
   display: grid;
    grid-template-columns: repeat(3,1fr);
   
   
   padding-left: 120px;
   color:rgba(213, 192, 192, 0.735);
     width:500px;
    height: 100%;
    margin-left: 230px;
    row-gap: 2px;
    column-gap: 15px;
   
    
    
   
}
.ins{
    margin-top: 10px;
    width:200px;
    height:200px;
    color:rgba(213, 192, 192, 0.735);
  
    text-align: center;
    font-size: 10px;
    position: relative;
   
   
}

.ins-img{
    width:200px;
    height:200px;
    border-radius: 5px;
}
  .text{
    text-align:left;
    position: absolute;
    color:rgba(213, 192, 192, 0.735);
    padding-top: 0;
    
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color:rgba(213, 192, 192, 0.735);
    width: 80%;
    max-width: 1200px;
   margin-left: 120px;
}

.trainer-card {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    color:rgba(213, 192, 192, 0.735);
    position: relative;
}

.trainer-card img {
    color:rgba(213, 192, 192, 0.735);
    width: 100%;
    height: auto;
    display: block;
}

.trainer-info {
    position: absolute;
    bottom: 0;
    color:rgba(213, 192, 192, 0.735);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    text-align: center;
}

.trainer-info h3 {
    margin: 5px 0;
    font-size: 1.2em;
    color:rgba(213, 192, 192, 0.735);
}

.trainer-info p {
    margin: 0;
    font-size: 1em;
    color:rgba(213, 192, 192, 0.735);
}
.Footer{
    display:flex;
    padding-left: 100px;
      margin-left: 100px;
      color:rgba(213, 192, 192, 0.735);
      font-size: 20px;
}
.start{
    margin-left: 80px;
    color:rgba(213, 192, 192, 0.735);
}
ul{
    list-style-type: none;
}
.Fitness{
    color:red;
    font-size: 70px;
    font-family: 'Inter', sans-serif;
}
.end{
    text-align: center;
    color:rgba(213, 192, 192, 0.735);

}
hr{
    color:white;
}
@media screen and ( max-width :576px) {
    .nav-bar{
       

    }
    .button{
        display: none;

    }
    .hambrg{
       display: block;
      margin-left: 350px;
      padding-top: 20px;
      
      
       
    }
    .main-body{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .body-text{
        text-align: left;
        width:60%;
        margin-left: 5px;
    }
    .button{
        align-items: center;
        
    }
    .Btn{
        width:500px;
        margin-left: 0%;
        padding: 0;
        justify-content: left;
        margin: 0 auto;
    }
    
    
       
    
    .body-img{
        width:fit-content;
        text-align: left;
        margin-left: 50px;
        margin-top: 0;
       

    }
    .middle-body{
        flex-direction: column;
        width:60%;
        
    }
    .habit{
        margin-left: 100px;
    }
    
    .crcl-img{
        flex-direction: column;
    }
    .card{
        flex-direction: column;
        padding-left: 60px;
    }
    .run{
        flex-direction: column;
        width:60%;
        margin-top: 1100px;
        padding-right: 200px;
    }
    .run-img{
        margin-right: 100px;
         margin-top: 100px;
         align-items: center;
         margin: 0 ;
         margin-top: 50px;
         justify-content: center;
         padding-right: 50px;
     
       
    }
    .run-text{
        width:60%;
        text-align: center;
        margin-left: 100px;
        margin-top: 30px;

    }
    .bmi-text{
        margin-top: 450px;
        text-align: left;
       margin-left: 70px ; 
       padding: 0;
       width: 100%;
       
        
    }
    .calcu{
        flex-direction: column;
        
    }
    .table{
        
        height: 400px;
        padding-top: 0;
        
    }
    .input{
        margin-left: 80px;
        width: 60%;

    }
.benefits{
    margin-top: 200px;
    width:70%;
    margin-left: 100px;
}
.ins-text{
  margin:0 auto;
    text-align: center;
    padding-right: 350px;
    margin-right: 150px;
    width: 250px;
    margin-left: 50px;
}
.container{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    width: 300px;
    height:1600px;
    padding-left: 40px;

    
}
.Footer{
    flex-direction: column;
    text-align: left;
    margin:0 auto;
}
.start{
    margin-left: 0%;
}
ul{
    text-align: left;
    margin: 0;
    margin-left: 0%;
}
.end{
    text-align: left;
    margin: 0 auto;
    margin-left: 70px;
}

}