@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.cdnfonts.com/css/inter');
                


.nav-bar{
    border: 2px solid red;
    padding: auto;
   display: flex;
    margin: 0 auto;
    justify-content:space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.navtext{
    font-size:20px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    color: red;
                                                
    
}
.btn{
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    
}
.btn:hover{
    background-color: firebrick;
}
.main-body{
    border: 2px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
}
.body-text{
    border: 2px solid red;
    width:720px;
    height:600px;
    padding-top:150px;
    justify-content: center;
    margin-left: 20px;
    justify-content: center;
    font-family: 'Inter', sans-serif;
                                                
    text-align: center;
}
.shape{
    font-family: miama;
}

.body-img{
    border: 2px solid red;
    width:900px;
    height:700px;
   
   
 
  
  
   

}
.img{
   
    
    height: 700px;
    padding-left: 70px;
    
}
.Btn{
    display: flex;
}
.BTN{
    border: 2px solid red;
    
    justify-content: center;
    background-color: red;
    margin-top: 20px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
   margin-left: 50px;
    

}
.shape{
    font-family: 'Miama', sans-serif;
    height: ;
                                                
}
.middle-body{
    text-align: center;
    margin-left: 120px;
    margin-top: 10px;
    width: 1044px;
    height: 520px;
    border: 2px solid red;
}
.card{
    display:flex;
   
    border: 2px solid red;
}
.crcl-img{
    border: 2px solid red;
    width: 231px;
    height: 400px;
    margin-left: 20px;
    
}
.cimg{
    border-radius: 100px;
}
.run{
    padding-top: 20px;
    border:2px solid red;
    width:1000px;
    height: 300px;
    display: flex;
    margin-left: 120px;
}
.run-text{
   border: 2px solid red;
    width:50%;
    height: 300px;
    text-align: center;
    padding-top: 50px;
}
.run-img{
    
    width:50%;
    height: 200px;
}
.run-IMG{
    width:400px;
    height:300px;
    border-radius: 40px;
    margin-left: 50px;
}
.rbtn{

    border: 2px solid red;
    justify-content: center;
    background-color: red;
    margin-top: 20px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    
}